<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://ft-trans-static-files.github.io/error-static-files/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    <div class="text-center">
        <div class="error mx-auto" data-text="{{ status_code }}">{{ status_code }}</div>
        <p class="lead text-gray-800 mb-5">{{ error_message }}</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a  hx-boost="false"
        hx-trigger="click"
        hx-push-url="true"
        hx-get="/home/"
        hx-target="body"
        hx-on="htmx:beforeRequest: toggleSidebar(false); toggleNavbar(true);"
        class="text-center small"
        href="">Retour à l'accueil</a>

    </div>
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script>
    function toggleNavbar(show) {
        const navbar = document.querySelector('#homelogo');
        console.log("toggleNavbar called");
        if (show) {
            navbar.classList.remove('d-none');
            navbar.classList.add('d-flex');
        } else {
            navbar.classList.remove('d-flex');
            navbar.classList.add('d-none');
        }
    }

    function toggleSidebar(show) {
        console.log("toggleSidebar called");
        const sidebar = document.querySelector('#accordionSidebar');
        if (show) {
            sidebar.classList.remove('d-none');
        } else {
            sidebar.classList.add('d-none');
        }
    }
    </script>
</body>
</html>
