{% load static %}
<div style="display:none;">
	<head>
		<link rel="stylesheet" href="{% static 'tournament/styles.css' %}">
		<script src="{% static 'tournament/script.js' %}"></script>
	</head>
</div>
<div id="tournament-selections">
	<h1>Tournament - Selections</h1>
	<h2 id ="myh1">
		Je dois choisir un joueur et envoyer mon choix a tournament
	</h2>
	<div id="users">
		{% for user in tournamentUsers %}
		 	<div class="user">user: {{user.id}}</div>
		{% endfor %}
	</div>
	<button
		hx-get="/tournament/start-match/" 
		hx-target="#overlay-startmatch">
		Envoyer le choix a Match/tournament/start-match/ > .views.start_match</button>
	<div id="overlay-startmatch"></div>
</div>