{% load static %}
<div style="display:none;">
	<head>
		<link rel="stylesheet" href="{% static 'tournament/styles.css' %}">
		<script>
			window.rasp = "{{ rasp }}"; 
			window.pidom = "{{ pidom }}";	
			window.simpleUsers = "{{ simpleUsers }}";					
		</script>
		<script src="{% static 'tournament/script.js' %}" onload="initWs()">;</script>
	</head>
</div>	
<div id="simple-selections">
	<h1>Simple - Selections</h1>
	<h2 id ="myh1">
		Je dois choisir un joueur et envoyer mon choix a tournament! !
	</h2>
	<h2 id="player">Je suis le joueur ...</h2>

	<div id="users">
		{% for user in simpleUsers %}
		 	<div class="user">user {{user.playerId}}</div>
		{% endfor %}
	</div>
	<button id ="startMatchButton"
		hx-get="/tournament/start-match/" 
		hx-target="#overlay-startmatch">
		Envoyer le choix a Match/tournament/start-match/ > .views.start_match</button>
	<div id="overlay-startmatch"></div>
</div>