{% load static %}
<div style="display:none;">
	<head>
		<link rel="stylesheet" href="{% static 'tournament/styles.css' %}">
		<script>
			window.rasp = "{{ rasp }}"; 
			window.pidom = "{{ pidom }}";								
		</script>
		<script src="{% static 'tournament/selection_simple.js' %}" onload="initTournamentWs()">;</script>
	</head>
</div>	
<div id="simple-selections">
	<h1>Simple - Selections</h1>
	<h2 id ="myh1">
		Je dois choisir un joueur et envoyer mon choix a tournament! !
	</h2>
	<h2 id="player">Je suis le joueur ...</h2>

	<div id="users"></div>
	<div id="matchs"></div>

	<div id="overlay-match"></div>
</div>