{% load static %}
<div style="display:none;">
	<head>
		<link rel="stylesheet" href="{% static 'tournament/styles.css' %}">
		<script>
			window.rasp = "{{ rasp }}"; 
			window.pidom = "{{ pidom }}";
            window.user_id = "{{ user_id }}";								
		</script>
		<script src="{% static 'tournament/simple_match.js' %}"
				onload="initSimpleMatch()"></script>
	</head>
</div>	
<div id="simple-selections">
	<h1>Simple - Selections</h1>
	<h2 id ="myh1">
		Je dois choisir un joueur et entrer dans le match!
	</h2>
	<h2 id="player">Je suis le joueur ...</h2>
	<div id="players"></div>
	<div id="matchs"></div>
	<div id="overlay-match"></div>
</div>
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Pong <sup>42</sup></span>
        </div>
    </div>
</footer>
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 data-translate="Ready to Leave?" class="modal-title">
          Ready to Leave?
        </h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div data-translate="Logout-leave" class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          type="button"
          data-translate="cancel"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          onclick="logoutUser()"
          data-dismiss="modal"
          id="modal-logout"
          class="btn btn-primary"
          href=""
          data-translate="Logout"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  function logoutUser() {
    // Create a fetch request to logout endpoint
    fetch("/auth/logout/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      credentials: "same-origin", // Important for cookies
    }).then((response) => {
      htmx
        .ajax("GET", "/login/", {
          target: "body",
          swap: "outerHTML",
          headers: { "HX-Login-Success": "true" },
        })
        .then(function () {
          history.pushState(null, "", "/login/");
        });
    });
  }
</script>
<script>
window.addEventListener("DOMContentLoaded", () => {
    let lastVisitedPage = history.state?.lastVisitedPage || sessionStorage.getItem("lastVisitedPage");

    console.log("Dernière page visitée:", lastVisitedPage);
    console.log("Page actuelle:", window.location.href);

    // Vérifie si une page précédente existe et si l'URL actuelle n'est pas celle de la page d'erreur
    if (lastVisitedPage && window.location.href === lastVisitedPage && !sessionStorage.getItem("redirected")) {
        console.log("Redirection vers la dernière page visitée :", lastVisitedPage);
        
        // Marque que la redirection a eu lieu pour éviter la boucle infinie
        sessionStorage.setItem("redirected", "true");

        // Redirige vers la dernière page visitée
        window.location.href = lastVisitedPage;
    } else {
        sessionStorage.removeItem("redirected");
        console.log("Aucune page précédente trouvée ou déjà sur la page visitée.");
    }
});
</script>   