{% load static %}
<div style="display:none;">
	<head>
		<link rel="stylesheet" href="{% static 'tournament/styles.css' %}">
		<script>
			window.rasp = "{{ rasp }}"; 
			window.pidom = "{{ pidom }}";
            window.selfId = "{{ user_id }}";
			window.selfName = "{{ user_name }}";							
		</script>
		<script src="{% static 'tournament/tournament.js' %}"
				onload="initTournament()"></script>
	</head>
</div>	
<div id="simple-selections">
	<h1>Tournois - Selections</h1>
	<h2 id ="myh1">
		Je dois choisir un tournois et entrer dans le match!
	</h2>
	<h2 id="player">Je suis {{ user_name }}</h2>
	<div id="players"></div>
	<label for="dim">Selectionner le nombre de dimension</label>
	<select id="dim">
		<option value="2">2D</option>
		<option value="3">3D</option>
	</select>
	<input
		id="player-name"
		type="text"
		maxlength="50"
		pattern=".{1,50}"
		required
		placeholder="enter a name"
		oninput="this.value = this.value.replace(/[^a-zA-Z0-9_]/g, '');"
	/>
	<button onclick="newPlayer(window.tournamentSocket)">Create Player</button>
	<button onclick="newTournament(window.tournamentSocket)">Create Tournament</button>
	<div id="tournaments"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
window.addEventListener("DOMContentLoaded", () => {
    let lastVisitedPage = history.state?.lastVisitedPage || sessionStorage.getItem("lastVisitedPage");

    console.log("Dernière page visitée:", lastVisitedPage);
    console.log("Page actuelle:", window.location.href);

    // Vérifie si une page précédente existe et si l'URL actuelle n'est pas celle de la page d'erreur
    if (lastVisitedPage && window.location.href === lastVisitedPage && !sessionStorage.getItem("redirected")) {
        console.log("Redirection vers la dernière page visitée :", lastVisitedPage);
        
        // Marque que la redirection a eu lieu pour éviter la boucle infinie
        sessionStorage.setItem("redirected", "true");

    } else {
        sessionStorage.removeItem("redirected");
        console.log("Aucune page précédente trouvée ou déjà sur la page visitée.");
    }
});
</script>