{% load static %}

<div style="display:none;">
	<head>
		<link rel="stylesheet" href="{% static 'tournament/pattern.css' %}">
	</head>
</div>	
<div id="pattern">	
	<div id="matchs-cont">
		<div id="m1" class="pattern-match">match
			<div id="pl1">p1</div>
			<div id="pl2">p2</div>
		</div>
		<br>
		<div id="m2" class="pattern-match">match
			<div id="pl1">p1</div>
			<div id="pl2">p2</div>
		</div>
		<div id="m3" class="pattern-match">match
			<div id="pl1">p1</div>
			<div id="pl2">p2</div>
		</div>
		<br>			
	</div>	
	<div id="overlay-match"></div>
</div>
