{% load static %}
<div class="container-fluid">
  <div
    class="row justify-content-center align-items-center"
    style="min-height: 80vh"
    id="del_success_message"
  >
    <div class="col-lg-6 mb-4">
      <div class="card shadow mb-4 border-left-success">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="fas fa-check-circle fa-4x text-success"></i>
          </div>
          <h1 class="mb-3">{{ message }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function logoutUser() {
    fetch("/auth/logout/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      credentials: "same-origin",
    }).then((response) => {
      if (response.ok) {
        htmx
          .ajax("GET", "/register/", {
            target: "body",
            swap: "outerHTML",
            headers: { "HX-Login-Success": "true" },
          })
          .then(function () {
            history.pushState(null, "", "/register/");
          });
      } else {
        console.error("Logout failed:", response.statusText);
      }
    });
  }
  setTimeout(() => {
    logoutUser();
  }, 2000);
</script>
