{% load static %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div
    class="row justify-content-center align-items-center"
    style="min-height: 80vh"
  >
    <div class="col-lg-6 mb-4">
      <div class="card shadow mb-4 border-left-danger">
        <div class="card-body text-center">
          <div class="mb-3">
            <i class="fas fa-exclamation-triangle fa-4x text-danger"></i>
          </div>
          <p id="error-delete-account">
            {{ error|default:"An unexpected error occurred." }}
          </p>
          <a
            href="/account/profile/"
            class="btn btn-primary btn-user mt-3 btn-rounded"
            hx-get="/account/confidentiality/"
            hx-target="#account-content"
            hx-push-url="true"
          >
            Return to Profile Settings
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-rounded {
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    border-width: 2px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .btn-primary {
    border-color: #007bff;
    color: #007bff;
    background-color: transparent;
  }

  .btn-primary:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }

  .btn-primary.active,
  .btn-primary:focus {
    background-color: #007bff !important;
    color: white;
    border-color: #007bff !important;
  }

  #error {
    color: #dc3545;
    font-size: 1.25rem;
    margin-top: 20px;
  }

  @media (max-width: 576px) {
    #error {
      font-size: 1rem;
    }
  }

  .form-control-user.form-control-lg {
    font-size: 1.25rem;
    padding: 0.75rem;
  }
</style>
