{% load static %}
<div id="game-stats-content" class="container-fluid">
  <div class="d-flex justify-content-center my-4">
    <button
      class="btn btn-outline-primary rounded-pill px-4 sidebar-btn me-4"
      id="overview-btn"
      hx-get="/account/game-stats/overview/"
      hx-target="#stats-content"
      hx-swap="innerHTML"
      hx-push-url="true"
    >
      Overview
    </button>
    <button
      class="btn btn-outline-primary rounded-pill px-4 sidebar-btn"
      id="match-history-btn"
      hx-get="/account/game-stats/match-history/"
      hx-target="#stats-content"
      hx-swap="innerHTML"
      hx-push-url="true"
    >
      Match History
    </button>
  </div>

  <!-- Main Content -->
  <div id="stats-content" class="container-fluid px-0">
    {{ page_stats|safe }}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{% static 'static_files/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'static_files/js/demo/chart-pie-demo.js' %}"></script>

<style>
  #game-stats-content {
    margin-top: 20px;
  }

  .sidebar-btn {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    border-width: 2px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .sidebar-btn.active,
  .sidebar-btn:focus {
    color: white !important;
  }

  .btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
  }

  .btn-outline-primary.active,
  .btn-outline-primary:focus {
    background-color: #007bff !important;
    border-color: #007bff !important;
  }

  .sidebar-btn:hover {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
  }

  .d-flex {
    display: flex;
  }

  .justify-content-center {
    justify-content: center;
  }

  .my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .me-4 {
    margin-right: 1.5rem;
  }

  .px-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
</style>

