{% load static %}
<div class="container-fluid" id="game-stats-content">
  
  <div class="d-flex justify-content-center">
    <button
      class="btn btn-sm btn-outline-primary rounded-pill w-100 d-flex align-items-center justify-content-center sidebar-btn"
      id="overview-btn"
      hx-get="/account/game-stats/overview/"
      hx-target="#stats-content"
      hx-swap="innerHTML"
      hx-push-url="true"
    >
      Overview
    </button>
    <button
      class="btn btn-sm btn-outline-primary rounded-pill w-100 d-flex align-items-center justify-content-center sidebar-btn"
      id="match-history-btn"
      hx-get="/account/game-stats/match-history/"
      hx-target="#stats-content"
      hx-swap="innerHTML"
      hx-push-url="true"
    >
      Match History
    </button>
  </div>

  <!-- Main Content -->
  <div id="stats-content" >
    {{ page_stats|safe }}
  </div>
</div>

