{% load static %}
<div class="container-fluid m-0">
  <div class="row">
    <nav class="sidebar col-0 col-sm-4 col-md-3 col-lg-3 col-xl-2 d-none d-sm-block p-3 shadow-sm" style="min-height: 75vh; position: sticky; top: 0; overflow-y: auto;">
      <div class="sidebar-sticky text-center">
        <!-- Account Settings Title -->
        <h1 class="mb-3 pt-2"><strong>Account Settings</strong></h1>
        <ul class="nav flex-column pt-5">
          <!-- Profile -->
          <li class="nav-item mb-3">
            <a
              id="acc-profile"
              href="#"
              class="nav-link btn-sm rounded-pill w-100 d-flex align-items-center justify-content-center sidebar-btn"
              hx-get="/account/profile/"
              hx-target="#account-content"
              hx-swap="innerHTML"
              hx-push-url="true"
            >
              <i class="mr-2 fa-solid fa-table-tennis-paddle-ball"></i>
              <h5>Profile</h5>
            </a>
          </li>
          <!--Statistics-->
          <li
            class="side-nav nav-item mb-3"
          >
            <a
              id="acc-stats"
              href="#"
              class="nav-link btn btn-outline-primary btn-sm rounded-pill w-100 d-flex align-items-center justify-content-center sidebar-btn"
              hx-get="/account/game-stats/overview/"
              hx-target="#account-content"
              hx-swap="innerHTML"
              hx-push-url="true"
            >
              <i class="mr-2 fa-solid fa-table-tennis-paddle-ball"></i>
              <h5>Statistics</h5>
            </a>
          </li>
          <!-- Security-->
          <li class="side-nav nav-item mb-3">
            <a
              id="acc-security"
              href="#"
              class="nav-link btn btn-outline-primary btn-sm rounded-pill w-100 d-flex align-items-center justify-content-center sidebar-btn"
              hx-get="/account/security/"
              hx-target="#account-content"
              hx-swap="innerHTML"
              hx-push-url="true"
            >
              <i class="mr-2 fa-solid fa-table-tennis-paddle-ball"></i>
              <h5>Security</h5>
            </a>
          </li>
          <!-- Confidentiality-->
          <li class="side-nav nav-item mb-3">
            <a
              id="acc-conf"
              href="#"
              class="nav-link btn btn-outline-primary btn-sm rounded-pill w-100 d-flex align-items-center justify-content-center sidebar-btn"
              hx-get="/account/confidentiality/"
              hx-target="#account-content"
              hx-swap="innerHTML"
              hx-push-url="true"
            >
              <i class="mr-2 fa-solid fa-table-tennis-paddle-ball"></i>
              <h5>Confidentiality</h5>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main role="main" class="col-12 col-md-9 col-sm-8 ml-sm-auto col-lg-9 col-xl-10 p-0 m-0">
      <!-- Content dynamically loaded here -->
      <div id="account-content">
        <!-- prettier-ignore -->
        {% if page %}
            {% if "<" in page %}
                {{ page|safe }}
            {% else %}
                {% include page %}
            {% endif %}
        {% endif %}
      </div>
    </main>
  </div>
</div>
