{% load static %}
<div class="container-fluid px-0" id="conf-content">
  <div class="row justify-content-center pt-5">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="card mb-3 shadow">
        <div class="card-body text-center">
          <h1 data-translate="conf-dt-1" class="card-title mb-3">Delete Your Account</h1>
          <h2 data-translate="conf-dt-2" class="card-text mb-3">
            Be aware: Deleting your account is permanent and cannot be undone.
          </h2>

          <!-- Delete Account Button -->
          <a
            href="#"
            class="btn btn-outline-danger"
            hx-get="/account/confidentiality/delete-account/"
            hx-target="#account-content"
            hx-push-url="true"
            id="delete-account-page"
            data-translate="conf-dt-3"
          >
            Delete your Account
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<style>

.btn-outline-danger {
    border-color: #e74a3b;
    color: #e74a3b;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    padding: 0.75rem 2rem;
    transition: all 0.3s ease-in-out;
  }

  .btn-outline-danger.active,
  .btn-outline-danger:focus {
    background-color: #e74a3b !important;
    border-color: #e74a3b !important;
  }

  .btn-outline-danger:hover {
    background-color: #e74a3b;
    color: white;
    border-color: #e74a3b;
  }

</style>
