/* Centering the container vertically and horizontally */
#two_factor_auth_container {
	height: 100vh;
	/* Full screen height */
	display: flex;
	justify-content: center;
	align-items: center;
}

.class_custom {
	width: 100%;
	max-width: 400px;
}

/* Pong Background Animation Styles */
.pong-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	background-color: #f8f9fc;
}

.pong-icon {
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("https://dansylvain.github.io/pictures/lock2fa_logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;
	opacity: 0.6;
}

.background-color-form {
	background-color: rgba(248, 133, 56, 0.822);
	border-radius: 1rem;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.295), 0 15px 20px rgba(0, 0, 0, 0.493);
}