{% load static %}


<div style="display:none">
<head>
    <title>Test</title>
    <style>
        body { margin: 0; }
    </style>
    <script class="match-script">
        window.rasp = "{{ rasp }}"; 
        window.pidom = "{{ pidom }}";
        window.matchId = "{{ matchId }}"
        window.playerId = "{{ playerId }}";
    </script>
	<script class="match-script" src="{% static 'match/script3d.js' %}"></script>
</head>
</div>

<body>
    <div id="container"></div>
    <button id="action", onclick="actionClick()">Action</button>
    <button id="other", onclick="otherClick()">Other</button>
	<div id="score">Score</div>  
	<div id="waiting">Waiting</div>
	<div id="end" style="display:none"></div>
	<button onclick="
		stopMatch('{{matchId}}');
		const matchDiv = document.getElementById('container');
		if (matchDiv) matchDiv.remove();">Quit Match</button>
</body>
