.pattern-match {
	width:fit-content;
	/* height:100%; */
	display:inline-block;
	margin:10px;
	padding:10px;
	background-color:blanchedalmond;
	text-align: center;
}

.next-match {
	background-color:hwb(36 1% 2%);
}

.spec-match {
	background-color:hwb(202 49% 9%);
}

#pattern-cont {
	margin:10px;
	width:40%;
	/* height:100%; */
	display:inline-block;
	background-color: rgb(8, 250, 32);	
}

#pattern {
	position:relative;
	margin:10px;
	background-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?q=80&w=3269&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');	
}

/* #m1 {
	position:relative;
	left: 50%;
	transform:translateX(-50%); 
} */

.pattern-pl {
	/* width:40%; */
	width:fit-content;
	padding:10px;
	display:inline-block;
	background-color:rgb(97, 9, 240);
}

.pattern-pl-cont {
	width:fit-content;
	position:relative;
	left: 50%;
	transform:translateX(-50%);
	background-color:rgb(49, 48, 51);
}

#secline {
	width:fit-content;
	/* height:fit-content; */
	position:relative;
	left: 50%;
	transform:translateX(-50%);
	background-color:rgb(43, 92, 94);
}

#firstline {
	width:fit-content;
	/* height:fit-content; */
	position:relative;
	left: 50%;
	transform:translateX(-50%);
	background-color:rgb(43, 92, 94);
}