.pattern-match {
	width:fit-content;
	/* height:100%; */
	display:inline-block;
	margin:10px;
	padding:10px;
	background-color:blanchedalmond;
	text-align: center;
}

@keyframes spin-gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.next-match {
  background-color: transparent;
  border: 4px solid transparent;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  padding: 10px;
}

.next-match::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: conic-gradient(#ff9500, #ff5e3a, #ff2d55, #af52de, #5856d6, #007aff, #4cd964, #ffcc00, #ff9500);
  border-radius: 8px;
  z-index: -2;
  animation: spin-gradient 4s linear infinite;
}

.next-match::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hwb(36 1% 2%);
  border-radius: 4px;
  z-index: -1;
}

.spec-match {
	background-color:hwb(202 49% 9%);
}

#pattern-cont {
	margin:10px;
	width:40%;
	/* height:100%; */
	display:inline-block;
	background-color: rgb(8, 250, 32);	
}

#pattern {
	position:relative;
	margin:10px;
	background-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?q=80&w=3269&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');	
}

/* #m1 {
	position:relative;
	left: 50%;
	transform:translateX(-50%); 
} */

.pattern-pl {
	/* width:40%; */
	width:fit-content;
	padding:10px;
	display:inline-block;
	background-color:rgb(97, 9, 240);
}

.pattern-pl-cont {
	width:fit-content;
	position:relative;
	left: 50%;
	transform:translateX(-50%);
	background-color:rgb(49, 48, 51);
}

#secline {
	width:fit-content;
	/* height:fit-content; */
	position:relative;
	left: 50%;
	transform:translateX(-50%);
	background-color:rgb(43, 92, 94);
}

#firstline {
	width:fit-content;
	/* height:fit-content; */
	position:relative;
	left: 50%;
	transform:translateX(-50%);
	background-color:rgb(43, 92, 94);
}