
#myh1 {
	display:block;
	width:auto;
	height:auto;
	color: rgb(191, 34, 181);
	background-color: rgb(30, 222, 200);
}

#tournament-match {

	width:100%;
	height:80%;
	background-color: rgb(72, 30, 222);
}

#tournament-selections {

	width:100%;
	height:80%;
	background-color: rgb(222, 30, 72);
}

#overlay-match {
	/* position:relative; */
	display:block;
	top:0;
    /* background: white; */
    /* margin: 10px;    */
}

.user {
	/* width:20px; */
	/* height:20px; */
	border-radius: 5px;
	margin: 5px;
	padding: 2px;
	display:inline-block;
	background: rgb(251, 255, 0);
}

.match {
	width:fit-content;
	height:fit-content;
	margin:5px;
	margin-top:10px;
	display:inline-block;
	background: rgb(251, 255, 0);
}

.tournament {
	width:fit-content;
	height:fit-content;
	margin:5px;
	margin-top:10px;
	display:inline-block;
	background: rgb(251, 255, 0);
}

#simple-selections {

	width:100%;
	height:80%;
	background-color: rgb(222, 30, 72);
}

.invitation-waiting {
	background-color: rgb(151, 175, 16);
}

.invitation-confirmed {
	background-color: rgb(16, 90, 175);
}

.self-player {
	background-color: rgb(250, 8, 250);
}

.self-match {
	width:fit-content;
	height:fit-content;
	background-color: rgb(250, 8, 250);
}

button {
	margin:10px;
}

#players {
	width: fit-content;
	height: fit-content;
	
	border-style:solid;
	border-radius:5px;
	border-width: 5px;
	border-color: rgb(43, 150, 226);
	/* background-color: yellow; */
}

.winner {
	background-color: rgb(8, 250, 20) !important;		
}

.looser {
	background-color: rgb(250, 8, 48) !important;	
}

.undef {
	background-color: hwb(180 81% 18%) !important;
}

.phantom {
	background-color: rgb(8, 234, 250);
}

.tournament-cont {
	width:50%;
	height: fit-content;
	margin:10px;
	background-color: rgb(109, 94, 96);	
}

#match-player-name {
	display: none;
}
