{% load static %}
<div class="container-fluid" id="security-content">
  <!-- Default content for security settings (2FA) -->
  <div class="card mb-3 shadow">
    <div class="card-body text-center">
      <h5 class="card-title">Two-Factor Authentication (2FA)</h5>
      <p class="card-text">Enhance your account security by enabling 2FA.</p>

      <!-- Button to enable/disable 2FA -->
      {% if user.two_fa_enabled %}
      <a
        href="#"
        class="btn btn-outline-danger"
        hx-get="/account/security/disable-2fa/"
        hx-target="#account-content"
        hx-push-url="true"
        id="disable_2fa"
      >
        Disable 2FA
      </a>
      {% else %}
      <a
        href="#"
        class="btn btn-outline-success"
        hx-get="/account/security/setup-2fa/"
        hx-target="#account-content"
        hx-push-url="true"
        id="setup_2fa"
      >
        Set Up 2FA
      </a>
      {% endif %}
    </div>
  </div>
</div>

<style>
  #security-content {
    margin-top: 20px;
  }

  .sidebar-btn {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    border-width: 2px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .btn-outline-success {
    border-color: #28a745;
    color: #28a745;
  }

  .btn-outline-success.active,
  .btn-outline-success:focus {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
  }

  .btn-outline-success:hover {
    background-color: #218838;
    color: white;
    border-color: #1e7e34;
  }

  .btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
  }

  .btn-outline-danger.active,
  .btn-outline-danger:focus {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
  }

  .btn-outline-danger:hover {
    background-color: #c82333;
    color: white;
    border-color: #c82333;
  }

  #disable_2fa,
  #setup_2fa {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    padding: 0.75rem 2rem;
    transition: all 0.3s ease-in-out;
  }
</style>
