{% load static %}
<div class="container-fluid m-0 p-0" id="security-content">
  <div class="row justify-content-center pt-5">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="card mb-3 shadow">
        <div class="card-body text-center">
          <h1 class="card-title mb-3">Two-Factor Authentication (2FA)</h1>
          <h2 class="card-text mb-3">Enhance your account security by enabling 2FA.</h2>

          <!-- Button to enable/disable 2FA -->
          {% if user.two_fa_enabled %}
          <a
            href="#"
            class="btn btn-outline-danger"
            hx-get="/account/security/disable-2fa/"
            hx-target="#account-content"
            hx-push-url="true"
            id="disable_2fa"
            data-translate=""
          >
            Disable 2FA
          </a>
          {% else %}
          <a
            href="#"
            class="btn btn-outline-success"
            hx-get="/account/security/setup-2fa/"
            hx-target="#account-content"
            hx-push-url="true"
            id="setup_2fa"
            data-translate=""
          >
            Set Up 2FA
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


<style>

  .btn-outline-success {
    border-color: #1cc88a;
    color: #1cc88a;
  }

  .btn-outline-success.active,
  .btn-outline-success:focus {
    background-color: #1cc88a !important;
    border-color: #1cc88a !important;
  }

  .btn-outline-success:hover {
    background-color: #1cc88a;
    color: white;
    border-color: #1cc88a;
  }

  .btn-outline-danger {
    border-color: #e74a3b;
    color: #e74a3b;
  }

  .btn-outline-danger.active,
  .btn-outline-danger:focus {
    background-color: #e74a3b !important;
    border-color: #e74a3b !important;
  }

  .btn-outline-danger:hover {
    background-color: #e74a3b;
    color: white;
    border-color: #e74a3b;
  }

  #disable_2fa,
  #setup_2fa {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    padding: 0.75rem 2rem;
    transition: all 0.3s ease-in-out;
  }
</style>
