    <body>
        <div class="row justify-content-around" style="height: 85vh;">
            <div class="d-flex flex-column justify-content-start align-items-start rounded-5 mt-3 col-7 bg-primary">
                <img src="https://placehold.co/100" class="img-fluid rounded-circle mb-2 mt-2" alt="Image 1">
                <p class="text-white m-0" data-translate="Ma queue">Ma queue</p>
                <div class="bg-secondary-subtle w-100 rounded-3 mt-2" style="height: 10vh;"></div>
                <p class="text-white m-0" data-translate="Mon zob">Mon zob</p>
                <div class="bg-secondary-subtle w-100 rounded-3 mt-2" style="height: 10vh;"></div>
                <p class="text-white m-0" data-translate="Mes couilles">Mes couilles</p>
                <div class="bg-secondary-subtle w-100 rounded-3 mt-2" style="height: 10vh;"></div>
                <p class="text-white m-0" data-translate="Mon membre">Mon membre</p>
                <div class="bg-secondary-subtle w-100 rounded-3 mt-2" style="height: 10vh;"></div>
            </div>
        </div>
    </body>