{% load static %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 data-translate="Profil" class="h3 mb-2 text-gray-800">Profile</h1>

  <div>
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div
          class="col-lg-3 my-5 align-items-center 
          justify-content-center bg-register-image"
        >
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6
                data-translate="Avatar"
                class="m-0 font-weight-bold text-primary"
              >
                Avatar
              </h6>
            </div>
            <div class="card-body">
              <div class="text-center">
                <img
                  class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                  style="width: 25rem"
                  src="{% static 'static_files/img/undraw_posting_photo.svg' %}"
                  alt="..."
                />
              </div>
              <p data-translate="Add your picture here">
                Add your picture here
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-9 card o-hidden border-0 shadow-lg my-3">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h1 text-gray-900 mb-4">
                <span data-translate="Profil">Profile</span>!
              </h1>
            </div>
            <form class="user">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="exampleFirstName"
                    data-translate-placeholder="first name"
                    placeholder="First Name"
                  />
                </div>
                <div class="col-sm-6">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="exampleLastName"
                    data-translate-placeholder="last name"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="exampleFirstName"
                    data-translate-placeholder="Display Name"
                    placeholder="Display Name"
                  />
                </div>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control form-control-user"
                  id="exampleInputEmail"
                  data-translate-placeholder="Email Address"
                  placeholder="Email Address"
                />
              </div>
            </form>
            <a href="#" class="btn btn-primary btn-icon-split float-right">
              <span class="icon text-white-50">
                <i class="fa-solid fa-arrow-rotate-right"></i>
              </span>
              <span data-translate="Update profile" class="text"
                >Update profile</span
              >
            </a>
            <a
              class="nav-link collapsed"
              href="#"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="true"
              aria-controls="collapseTwo"
            >
              <i class="fas fa-fw fa-heart"></i>
              <span data-translate="Friends">Friends</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Status</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr>
                        <td>Donald Trump</td>
                        <td>2/3</td>
                        <td>busy</td>
                        <td>play!</td>
                      </tr>
                      <tr>
                        <td>Amy Whinehouse</td>
                        <td>5/5</td>
                        <td>open</td>
                        <td>play!</td>
                      </tr>
                      <tr>
                        <td>Marcellus Wallace</td>
                        <td>0/42</td>
                        <td>busy</td>
                        <td>play!</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
			<!-- ! 2FA buttons with conditional display -->
            {% if user.two_fa_enabled %}
            <a href="#" class="btn btn-danger btn-icon-split float-right" 
               hx-get="/user/disable-2fa/" 
               hx-target="#main_div"
               hx-headers='{"HX-Request": "true"}'
			   id="disable_2fa"
			   name="disable_2fa">
              <span class="icon text-white-50">
                <i class="fas fa-shield-alt"></i>
              </span>
              <span data-translate="Disable 2FA" class="text">Disable 2FA</span>
            </a>
            {% else %}
            <a href="#" class="btn btn-success btn-icon-split float-right" 
               hx-get="/user/setup-2fa/" 
               hx-target="#main_div"
               hx-headers='{"HX-Request": "true"}'
			   id="setup_2fa"
			   name="setup_2fa">
              <span class="icon text-white-50">
                <i class="fas fa-shield-alt"></i>
              </span>
              <span data-translate="Set Up 2FA" class="text">Set Up 2FA</span>
            </a>
            {% endif %}
            
			<!-- ! DELETE BUTTON PROFILE  -->
            <a	href="#" class="btn btn-danger btn-icon-split float-right"
				hx-get="/user/delete-profile/" 
            	hx-target="#main_div"
            	hx-headers='{"HX-Request": "true"}'
				id="delete_profile">
              <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
              </span>
              <span data-translate="Delete profile" class="text"
                >Split Button Danger</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
    window.addEventListener("DOMContentLoaded", () => {
        let lastVisitedPage = history.state?.lastVisitedPage || sessionStorage.getItem("lastVisitedPage");

        console.log("Dernière page visitée:", lastVisitedPage);
        console.log("Page actuelle:", window.location.href);

        // Vérifie si une page précédente existe et si l'URL actuelle n'est pas celle de la page d'erreur
        if (lastVisitedPage && window.location.href === lastVisitedPage && !sessionStorage.getItem("redirected")) {
            console.log("Redirection vers la dernière page visitée :", lastVisitedPage);
            
            // Marque que la redirection a eu lieu pour éviter la boucle infinie
            sessionStorage.setItem("redirected", "true");

        } else {
            sessionStorage.removeItem("redirected");
            console.log("Aucune page précédente trouvée ou déjà sur la page visitée.");
        }
    });
</script> -->
