/* body {
    background-color: rgb(0, 255, 17);
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
	position:absolute;
}

.clickable {
    cursor: pointer;
}

/* li {
	background-color: aqua;
	height: 25%;
} */



#main_content {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body, h5 {
	font-family: 'Inter', sans-serif;
	/* font-family: var(--font-body); */
	font-size: clamp(13px, 1.2vw, 40px);
  }
  
  h1 {
	  font-family: 'Orbitron', sans-serif;
	  font-size: clamp(24px, 1.2vw, 60px);
	
	  /* font-family: var(--font-title); */
	
	}
  
  h2, h3, h4, h6, .title, .button-title {
	font-family: 'Orbitron', sans-serif;
	font-size: clamp(13px, 1.2vw, 26px);
  
	/* font-family: var(--font-title); */
  
  }



/* OVERLAY PATTERN */

.tournament-cont {
	width: 100%;
    min-height: 14rem; /* Hauteur minimale */
    min-width: fit-content;
	background-color: rgb(109, 94, 96);	
	border-radius: 5%;
	padding: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}
  
  #pattern {
	border-radius: 5px;

  }
  #overlay-pattern {
	width: 100%;          /* Ou une largeur spécifique si nécessaire */
	min-width: 300px;     /* Largeur minimale */
	margin: 0 auto;       /* Centre l'élément horizontalement dans son parent */
    z-index: 400;
  }
 
  #secline {
    display: flex;
    justify-content: space-around; /* ou space-between / center selon l'espacement que tu veux */
    gap: 1rem; /* optionnel, pour espacer les matchs */
  }

  .pattern-pl-cont {
    display: flex;
    justify-content: space-between; /* ou center / start / end selon le rendu souhaité */
    gap: 0.5rem; /* optionnel, pour un petit espace entre les joueurs */
  }

  .pattern-pl {
    flex: 1;
    text-align: center; /* pour centrer le texte dans chaque bloc */
  }

  #m1, #firstline, #m2, #m3, #secline {
    border-radius: 5%;
  }

  /* TUTO OVERLAY */

.tuto-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.tuto-box {
  background: white;
  border-radius: 12px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.tuto-box img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  border-radius: 8px;
}

/* SWITCH BUTTON 2D / 3D */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--title-color)
}

input:checked + .slider:before {
  transform: translateX(26px);
}



/* STYLES ADDED - BRONX */

#myh1 {
	display:block;
	width:auto;
	height:auto;
	color: rgb(191, 34, 181);
	background-color: rgb(30, 222, 200);
}

#tournament-match {

	width:100%;
	height:80%;
	background-color: rgb(72, 30, 222);
}

#tournament-selections {

	width:100%;
	height:80%;
	background-color: rgb(222, 30, 72);
}

#overlay-match {
	display:block;
	top:0;
}

.user::before {
	font-size: 30;
	content: "👽 ";
	margin-right: 4px;
}

.user {
	margin-top: 5px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;  
	background: #f2e2ba;
}

.match::before {
	font-size: 30;
	content: "🏓 ";
	margin-right: 4px;
}

.match {
	margin-top: 5px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;  
	background: rgb(251, 255, 0);
}

@keyframes shrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.disappear {
  animation: shrink 1s ease forwards;  
}
/* .tournament {
	width:fit-content;
	height:fit-content;
	margin:5px;
	margin-top:10px;
	display:inline-block;
	background: rgb(251, 255, 0);
} */

#simple-selections {

	width:100%;
	height:100%;
	background-color: var(--text-color);
}

.invitation-waiting {
	background-color: rgb(151, 175, 16);
}

.invitation-confirmed {
	background-color: rgb(16, 90, 175);
}

.self-player::before {
    font-size: 2rem;
	content: "😀 ";
	margin-right: 4px;
}

.self-player {
	background-color: #f2bac9;
}

.self-match {
	background: rgb(48, 48, 25);
}

button {
	margin:1rem 0;
}

/* #players {
	width: fit-content;
	height: fit-content;
	
	border-style:solid;
	border-radius:5px;
	border-width: 5px;
	border-color: rgb(43, 150, 226);
	/* background-color: yellow; */
/* } */ */

#players {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}


.winner {
	background-color: rgb(8, 250, 20) !important;		
}

.looser {
	background-color: rgb(250, 8, 48) !important;	
}

.undef {
	background-color: hwb(0 9% 5%) !important;
}

.phantom::before {
    font-size: 30;
	content: "👻  ";
	margin-right: 4px;
}

.phantom {
	background-size: cover;
    background-color: #bad7f2;
}

/* toggler day/night */

/* From Uiverse.io by andrew-demchenk0 */ 
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition: .4s;
    border-radius: 30px;
  }

  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: var(--text-color);
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }

  .cursor-pointer {
    cursor: pointer;
  }

  #trash {
    /* position:fixed; */
    height: 60px;
    width: 60px;
    background-image: url('https://dansylvain.github.io/pictures/trashcan.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 150;
    position:relative;
    /* left:50%;
    transform: translateX(-50%); */
    filter: blur(2px) saturate(120%) hue-rotate(180deg);
    opacity: 0.8;
    filter: saturate(120%) hue-rotate(180deg)
    drop-shadow(0 0 10px rgba(0, 200, 255, 0.7));
    animation: flotter 3s ease-in-out infinite;
    margin:20px;
  }

  @keyframes flotter {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }