{% load static %}
<div id="match-history-content" class="container-fluid px-0 mt-4">
  {% for match in match_history reversed %}

  <div
    class="poly-card d-flex flex-column flex-md-row justify-content-center px-3 py-3 mb-4 w-100 {% if match.winner == user.id %} border-won {% else %} border-lost {% endif %}"
  >
    <!-- First Section: Tournament ID - Match ID -->
    <div
      class="d-flex flex-column justify-content-center align-items-center text-center mb-3 mb-md-0 col-12 col-md-4"
    >
      <!-- prettier-ignore-->
      <div class="d-flex flex-column align-items-center mb-2">
        {% if match.tournament %}
          {% if match.winner_tournament and match.winner_tournament.winner_tournament == user.id and match.is_last_match == True %}
              <span class="badge bg-winner text-white mb-2" style="font-size: 0.8rem">
                👑 Tournament WON
              </span>
            {% else %}
              {% if match.winner_tournament and match.is_last_match == True %}
                  <span class="badge bg-loser text-white mb-2" style="font-size: 0.8rem">
                      💔 Tournament Lost
                  </span>
              {% endif %}
          {% endif %}
        <span class="badge bg-tournament text-white mb-2" style="font-size: 0.8rem">
            Tournament ID: #{{ match.tournament }}
        </span>
        {% endif %}
        <span class="badge bg-match text-white" style="font-size: 0.8rem"
          >Match ID: #{{ match.id }}</span
        >
      </div>
    </div>

    <!-- Second Section: Players - Scores -->
    <div
      class="d-flex flex-column justify-content-center align-items-center text-center mb-3 mb-md-0 col-12 col-md-4"
    >
      <p class="text-muted mb-1" style="font-size: 0.85rem; font-weight: bold">
        PLAYERS
      </p>
      <div
        class="fw-bold mb-2 row w-100 justify-content-center align-items-center gx-2 text-nowrap"
        style="font-size: 1.1rem"
      >
        <div class="col-auto">
          {% if match.winner == match.player1 %}
          <span class="winner-box blue-box"
            >{{ match.player1_details.username }}</span
          >
          {% else %}
          <span class="blue-text">{{ match.player1_details.username }}</span>
          {% endif %}
        </div>
        <div class="col-auto text-muted" style="font-weight: bold">VS</div>
        <div class="col-auto">
          {% if match.winner == match.player2 %}
          <span class="winner-box red-box"
            >{{ match.player2_details.username }}</span
          >
          {% else %}
          <span class="red-text">{{ match.player2_details.username }}</span>
          {% endif %}
        </div>
      </div>
      <!-- Score Label -->
      <p class="text-muted mb-1" style="font-size: 0.85rem; font-weight: bold">
        SCORE
      </p>
      <!-- Score Values -->
      <div
        class="fw-medium row w-100 justify-content-center align-items-center gx-2"
        style="font-size: 1rem"
      >
        <div class="col-auto">
          {% if match.winner == match.player1 %}
          <span class="winner-box blue-box">{{ match.score_p1 }}</span>
          {% else %}
          <span class="blue-text">{{ match.score_p1 }}</span>
          {% endif %}
        </div>
        <div class="col-auto text-muted">:</div>
        <div class="col-auto">
          {% if match.winner == match.player2 %}
          <span class="winner-box red-box">{{ match.score_p2 }}</span>
          {% else %}
          <span class="red-text">{{ match.score_p2 }}</span>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Third Section: Start-Time & End-Time -->
    <div
      class="d-flex flex-column justify-content-center align-items-center text-center mb-3 mb-md-0 col-12 col-md-4"
    >
      <div class="d-flex flex-column align-items-center">
        <span class="badge bg-time text-white mb-2" style="font-size: 0.8rem"
          >Start-Time: {{ match.start_time }}</span
        >
        <span class="badge bg-time text-white" style="font-size: 0.8rem"
          >End-Time: {{ match.end_time }}</span
        >
      </div>
    </div>
  </div>

  {% empty %}
  <div class="card mb-4 shadow">
    <div class="card-body text-center">
      <h5 class="card-title primary-text">No Match History</h5>
      <p class="card-text secondary-text">
        You haven’t played any matches yet. Your match history will appear here
        once you start playing!
      </p>
      <a
        class="btn btn-outline-primary"
        hx-get="/tournament/simple-match/"
        hx-target="#main_div"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        Start Playing
      </a>
    </div>
  </div>
  {% endfor %}
  <!--  -->
</div>

<style>
  /*Border for winner or looser */
  .border-lost {
    border-color: #dc3545 !important;
    border-width: 3px !important;
    border-style: solid !important;
    box-shadow: 0 0 10px 4px rgba(220, 53, 69, 0.75) !important ;
  }

  .border-won {
    border-color: #28a745 !important;
    border-width: 3px !important;
    border-style: solid !important;
    box-shadow: 0 0 10px 4px rgba(40, 167, 69, 0.75) !important;
  }

  .bg-tournament {
    background-color: var(--navbars-color);
  }

  .bg-match {
    background-color: var(--navbars-color);
  }

  .bg-time {
    background-color: var(--navbars-color);
  }


  .bg-winner {
    background-color: #f1c40f;; /* Green - success */
    color: white;
  }

  .bg-loser {
    background-color: #dc3545; /* Red - danger */
    color: white;
  }

  .match-card {
    background-color: #fdfdfd;
    font-size: 0.95rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-width: 2px; /* Default border */
    border-style: solid; /* Default border style */
    padding-top: 2rem; /* Space for the top section */
    position: relative; /* Keeps the content inside the card */
  }

  .winner-box.blue-box {
    display: inline-flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .winner-box.red-box {
    display: inline-flex;
    align-items: center;
    background-color: #dc3545;
    margin: 0;
    color: white;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .blue-text {
    color: #007bff;
    font-weight: bold;
  }

  .red-text {
    color: #dc3545;
    font-weight: bold;
  }

  .poly-card span:hover {
    pointer-events: none !important;
  }
</style>
