#p1, #p2 {
	width: 50px;
	height: 100px;
	background-color: rgb(35, 38, 222);
}

#p1 {
	position: absolute;
	top:50%;
	left:20px;
}

#p2 {
	position: absolute;
	top:50%;
	right:20px
}

#match {
	position: relative;
	width:100%;
	height:50%;	
	background-color: rgb(50, 92, 87);
}

#waiting {
	display:block;
	width:80%;
	height:80%;
	background-color: rgb(244, 37, 22);
}

.no-waiting {
	display:none !important;
}

.end {
	display:block !important;
	width:80%;
	height:80%;
	background-color: rgb(244, 118, 22);
}

#ball {
	position: absolute;
	top:50%;
	left:50%;
	width:2vw;
	height:2vw;
	background-color: rgb(22, 244, 40);
}