{% extends "auth_app/layout.html" %}

{% block head %}
<h1>{{ title }}</h1>
{% endblock %}

{% block body %}

<p>Hello, <strong>{{ request.user.username }}</strong> 👋</p>

{% if request.user.is_authenticated %}
    <ul>
        <li><strong>Username:</strong> {{ request.user.username }}</li>
        {% if request.user.email %}
            <li><strong>Email:</strong> {{ request.user.email }}</li>
        {% endif %}
		<li><strong>Password:</strong> {{ request.user.password }} {{ request.user.last_name }}</li>
        {% if request.user.first_name or request.user.last_name %}
            <li><strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</li>
        {% endif %}
    </ul>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <p>You are not logged in. <a href="{% url 'login' %}">Login here</a></p>
{% endif %}




{% endblock %}


